<form method="GET" class="form-inline" action="/generar">
   <div class="form-group">
      <div class="container">
         <div class="row">
            <div class="input-group  input-group-sm mg-auto p-2" id="opciones2">
               <label class="control-label" for="opt_nombre"><small> Nombre:</small></label>
               <input class="form-control input-sm" name="opt_nombre" style="max-width:200px"
                  value="{{ request.args.get('opt_nombre', '') | safe }}">
               <label class="control-label" for="opt_apellido"><small> Apellido:</small></label>
               <input class="form-control input-sm" name="opt_apellido" style="max-width:200px"
                  value="{{ request.args.get('opt_apellido', '') | safe }}">
               <label class="control-label" for="opt_edad"><small> Edad:</small></label>
               <input class="form-control input-sm" name="opt_edad" style="max-width:50px"
                  value="{{ request.args.get('opt_edad', '') | safe }}">
               <label class="control-label" for="opt_trait"><small> Bio:</small></label>
               <input class="form-control input-sm" name="opt_trait" style="max-width:100px"
                  value="{{ request.args.get('opt_trait', '') | safe }}">
            </div>
            <div class="input-group input-group-sm mg-auto p-1 ">
               <select name="clase" class="form-control input-sm">
                  {% for o in opciones_clases %}
                  <option value="{{ o }}" {% if request.args.get('clase') == o %}SELECTED{% endif %}>{{ o }}</option>
                  {% endfor %}
               </select>
            </div>
            <div class="btn-group-toggle" data-toggle="toggle" id="masclases">
               <label class="btn btn-sm">
                  <input type="checkbox" id="masclases-check" value="0">
                  <small>+</small>
               </label>
            </div>
            <div class="input-group input-group-sm mg-auto p-1 " id='clase2' >
               <select name="clase2" class="form-control input-sm">
                  {% for o in opciones_clases %}
                  <option value="{{ o }}" {% if request.args.get('clase2') == o %}SELECTED{% endif %}>{{ o }}</option>
                  {% endfor %}
               </select>
            </div>
            <div class="input-group input-group-sm mg-auto p-1 ">
               <select name="sexo" class="form-control input-sm">
                  <option value="Mujer" {% if request.args.get('sexo') == 'Mujer' %}SELECTED{% endif %}>Mujer</option>
                  <option value="Hombre" {% if request.args.get('sexo') == 'Hombre' %}SELECTED{% endif %}>Hombre
                  </option>
               </select>
            </div>
            <div class="input-group input-group-sm mg-auto p-1 ">
               <label class="control-label" for="poder"><small>Poder:</small></label>
               <input class="form-control input-sm" name="poder" type="number"
                  value="{{ request.args.get('poder', 40) | safe }}" style="max-width:50px">
            </div>
            <div class=" mg-auto p-1" align="center">
               <input type="hidden" name="sel" value="Generar">
               <button class="btn btn-warning btn-sm btn-block" type="submit">Generar</button>
            </div>
            <div class="input-group input-group-sm mg-auto p-1 -1">
               <div class="btn-group-toggle" data-toggle="toggle" id="masopciones">
                  <label class="btn btn-light btn-sm">
                     <input type="checkbox" id="masopciones-check">
                     +op
                  </label>
               </div>
            </div>
         </div>
      </div>
   </div>
</form>
{% block javascript %}
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>

   $(document).ready(function() {
      var o2 = {% if request.args.get('opt_nombre') %}true{% else %}false{% endif %};
      var c2 = {% if request.args.get('clase2') != 'Sin especialización' %}true{% else %}false{% endif %};
      $('#masclases-check').checked;
      $('#masopciones-check').checked;
      refrescar();
      if (o2){
         $('#opciones2').show();
      }
      if (c2){
         $('#clase2').show();
      }
   });

   $('#masclases').click(refrescar);
   $('#masopciones').click(refrescar);

   function refrescar(){
      if ($('#masclases-check').is(':checked')) {
         $('#clase2').show();
      } else {
         $('#clase2').hide();
      }
      if ($('#masopciones-check').is(':checked')) {
         $('#opciones2').show();
      } else {
         $('#opciones2').hide();
      }
   };
</script>
{% endblock %}