<form method="GET" class="form-inline" action="/guardado">
   <div class="form-group">
      <div class="input-group col-sm input-group-sm  mg-auto p-1">
         <input class="form-control input-sm" name="nombre"
            value="{{ pj['nombre']['nombre'] }} {{ pj['nombre']['apellido'] }}">
      </div>
      <div class="col-sm  mg-auto p-1">
         <button class="btn btn-warning btn-sm btn-block" type="submit">Guardar</button>
         <input type="hidden" name="sel" value="Guardar">
      </div>
   </div>
</form>